{extend name="../public/template/template.html"}
{block name="head"}
{__block__}

<head>
    <link rel="stylesheet" href="login_css">

</head>
{/block}
{block name="title"}后台登录{/block}
{block name="body"}
{__block__}

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm12 layui-col-md12">
                <blockquote class="layui-elem-quote">简约后台登陆界面</blockquote>
            </div>
        </div>
    </div>
    <div class="login_main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>欢迎登陆</legend>
        </fieldset>
        <div class="layui-row layui-col-space15">
            <div class="layui-form">
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="text" name="account" lay-verify="required|username" autocomplete="off"
                            placeholder="账号" class="layui-input" maxlength="12">
                        <i class="layui-icon layui-icon-username logo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="required|password" autocomplete="off"
                            placeholder="密码" class="layui-input" maxlength="12">
                        <i class="layui-icon layui-icon-password logo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-row">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <div class="layui-form-item">
                                <input type="text" name="checkcode" id="vercode" lay-verify="required|vercodes"
                                    autocomplete="off" placeholder="验证码" class="layui-input" maxlength="5">
                                <i class="layui-icon layui-icon-vercode logo_icon"></i>
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <img id="captchaImg" src="{:url('/captcha')}" alt="" onclick="verify_code()">
                        </div>
                    </div>
                </div>
                {:token()}
                <div class="layui-col-sm12 layui-col-md12 login_button">
                    <button class="layui-btn layui-btn-fluid" id="login" lay-submit lay-filter="login" width="90%">立即登录</button>
                </div>
            </div>
        </div>
    </div>
    <div class="login_back">
        
            <!-- <img src="/static/image/back.jpg" alt=""> -->
    
    </div>
    <div class="layui-row ">
        <div class="layui-col-sm12 layui-col-md12 login_footer">
           © 2019 - 简约后台登陆界面 || 简约后台登陆界面版权所有
            
        </div>
    </div>
    <script src="login_js"></script>
</body>
{/block}